body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}  

p {
    color: #8f8f8f;
    font-family: cursive;
}

/* heading  */
.big-heading {
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 2;
    font-weight: 900;
    text-align: justify;
    padding-top: 50px;
}
#tag {
    text-align: right;
    padding-bottom: 200px;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 10%;
}

/* sections */
.colored-section {
    background-color: #161616fc; 
    color: #fff;
}
.white-section {
    background-color: #fff;
}

/* Navigation Bar  */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download buttons */ 
.download-button {
    margin: 5% 3% 5% 0;
}

/* title section  */
#title.container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}
/* title image  */
.title-img {
    width: 500px;
    height: 500px;
    padding-left: 70px;
}

/* feature section  */
#features {
    position: relative;
}
.feature-title {
    font-size: 1.5rem;
}
.feature-box {
    padding: 5%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}

/* reviews */
#reviews {
    background-color: #161616fc; 
}
.reviews-text {
    font-size: 2rem;
    line-height: 1;
    color: white;
    font-weight: bold;
}
.reviews-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* pricing section  */
#photo {
    padding: 100px;
}
.pho {
    width: 350px;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-col {
    padding: 3% 2%;
}


/* footer  */
.social-icon {
    margin: 20px 10px;
}

#footer {
    background-color: #161616fc; 
    color: white;
    font-weight: bolder;
}
.foo-img {
    width: 20px;
}


.fea-img {
    width: 100px;
    height: 100px;
}